
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thyme leaf-extras-springsecurity6" lang="en">

<head>

    <meta charset="UTF-8">

    <title>Danh sách vé</title>

    <th:block th:replace="layout :: link-css"></th:block>

</head>

<body>

<th:block th:replace="layout :: header"></th:block>

<div class="container">

    <h1 th:text=${title}></h1>

    <table class="table">

        <tr>

            <th>mã vé</th>
            <th>Tên phòng</th>
            <th>Tên phim</th>
            <th>Chi Nhánh</th>
            <th>Địa chỉ</th>


            <!--            <th sec:authorize="hasAnyAuthority ('ADMIN')">Action</th>-->
        </tr>

        <tr th:each="ve: ${ves}">
            <td th:text="${ve.id}"></td>

            <td th:text="${ve.phong.tenphong}"></td>
            <td th:text="${ve.phim.tenPhim}"></td>
            <td th:text="${ve.chinhanh.name}"></td>
            <td th:text="${ve.chinhanh.diachi}"></td>

            <td>

                <a th:href="@{/ves/edit/{id}(id=${ve.id})}">Edit</a>


                <form th:action="@{/ves/delete/{id}(id=${ve.id})}" method="post" onsubmit="return confirm('Are you sure?')">
                    <button type="submit">Delete</button>
                </form>

            </td>

        </tr>

    </table>

</div>

<th:block th:replace="layout :: footer"></th:block>

</body>

</html>