<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-css"></th:block>
    <title>Add Phòng</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Add Phòng</h1>
    <form th:action="@{/phongs/add}" th:object="${phong}" method="post">

        <div class="col-6 mb-3">
            <label class="form-label" for="tenphong">Tên phòng:</label>
            <input class="form-control" type="text" th:field="*{tenphong}" id="tenphong">
            <span class="text-danger" th:if="${#fields.hasErrors('tenphong')}" th:errors ="*{tenphong}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="maphong">Mã Phòng:</label>
            <input class="form-control" type="text" th:field="*{maphong}" id="maphong">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label" for="chinhanh">Chi Nhánh:</label>
            <select class="form-control" name="chinhanh.id" id="chinhanh">
                <option value="">-- Select Chi Nhánh --</option>
                <option th:each="chinhanh : ${chinhanhs}" th:value="${chinhanh.id}" th:text="${chinhanh.name}"></option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('chinhanh.id')}" th:errors ="*{chinhanh}"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <br>
    <a th:href="@{/phongs}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>

</body>
</html>