<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Edit đạo diễn</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Edit đạo diễn</h1>
  <form th:action="@{/daodiens/edit}" th:object="${daodien}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="col-6 mb-3">
      <label class="form-label" for="tenDaoDien">Tên đạo diễn:</label>
      <input class="form-control" type="text" th:field="*{tenDaoDien}" id="tendaodien">
      <span class="text-danger" th:if="${#fields.hasErrors('tenDaoDien')}" th:errors ="*{tenDaoDien}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="moTa">Mô tả:</label>
      <input class="form-control" type="text" th:field="*{moTa}" id="mota">
    </div>


    <input type="submit" value="Save">
  </form>
  <br>
  <a th:href="@{/daodiens}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>