
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">

  <title>Danh sách phim</title>

  <th:block th:replace="layout :: link-css"></th:block>

</head>

<body>

<th:block th:replace="layout :: header"></th:block>

<div class="container">

  <h1 th:text=${title}></h1>

  <table class="table">

    <tr>

      <th>ID</th>

      <th>Tên phim</th>


      <th>Rated</th>

      <th>Action</th>

    </tr>

    <tr th:each="phim: ${phims}">
      <td th:text="${phim.id}"></td>

      <td th:text="${phim.tenPhim}"></td>

      <td th:text="${phim.rated}"></td>

      <td>

        <a th:href="@{/phims/edit/{id}(id=${phim.id})}">Edit</a>

        <form th:action="@{/phims/delete/{id}(id=${phim.id})}" method="post" onsubmit="return confirm('Are you sure?')">
          <button type="submit">Delete</button>
        </form>

      </td>

    </tr>

  </table>

</div>

<th:block th:replace="layout :: footer"></th:block>

</body>

</html>